.connectWallet {
    width: 100%;
    margin-block: 5rem;
    color: var(--icons-color);
}

.connectWallet_box {
    width: 60%;
    margin: 0 auto;
}

.connectWallet_box h1 {
    font-size: 3rem;
    line-height: 0
}

.connectWallet_box_para {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 3px solid var(--shadow-dark-color);
}

.connectWallet_box_provider {
    margin-block: 5rem;
}

.connectWallet_box_provider_item {
    display: flex;
    align-items: center;
    gap: 2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    border: 2px solid var(--shadow-dark-color);
    padding: 1rem;
    cursor: pointer;

}

.connectWallet_box_provider_item:hover {
    background-color: var(--icons-color);
    color: var(--main-bg-color);
    transition: all .3s ease-in-out;
}

/* .connectWallet_box_provider_item_img {
    border-radius: 50%; 
} */

.connectWallet_box_provider p {
    font-size: 1.5rem;
    line-height: 0;
}

.active {
    box-shadow: var(--box-shadow);
    transform: scale(1.03);
    background-color: var(--icons-color);
    color: var(--main-bg-color);
}

@media screen and (max-width:35em) {
    .connectWallet_box {
        width: 90%;
    }

    .connectWallet_box h1 {
        font-size: 1.5rem;
    }
}